html {
    height: 100%;
    width: 100%;
}

body {
    background-color:#F2F9FF;
    background-image: url(image3.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width:100vw;
    height:100vh;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
    text-align: center;
}

header {
    padding-left: 220px;
    padding-right: 220px;
    height: 100px;
    text-align: center;
}

header h3 {
    font-size: 70px;
    color: rgb(181, 93, 21);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav {
    background-color:#351e0bb8;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: rgb(239, 159, 84);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
}
 
nav a:visited {
    color:rgb(239, 159, 84);
    background-color: transparent;
    text-decoration: none;
}
 
nav a:hover {
    color:239, 159, 84;
    background-color: transparent;
    text-decoration: underline;
}
 
nav a:active {
    color:rgb(239, 159, 84);
    background-color: transparent;
    text-decoration: underline;

}

img {
    float: center;
    height: 315px;
    width: 560px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

main {
    text-align: center;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    background-color:#ffdca7b4;
    border-radius: 5px;
}

main h1 {
    font-size:45px;
    color:rgb(181, 93, 21);
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}
 
main h2 {
    font-size: 30px;
    color:rgb(192, 115, 44);
    text-align:center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0;
}

main h3 {
    font-size: 20px;
    margin:0;
    color: rgb(192, 115, 44);
    font-family:Cambria, Cochin, Georrgb(181, 93, 21)gia, Times, 'Times New Roman', serif;
}

p {
    color:rgb(83, 48, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    text-align:justify;
    text-indent:15px;
    line-height:1.2;
    margin: 0;
}

main a {
    text-decoration: none;
    color: rgb(83, 48, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
main a:visited {
    color:rgb(83, 48, 15);
    background-color: transparent;
    text-decoration: none;
}
 
main a:hover {
    color:rgb(83, 48, 15);
    background-color: transparent;
    text-decoration: underline;
}
 
main a:active {
    color:rgb(83, 48, 15);
    background-color: transparent;
    text-decoration: underline;
}

table, th, td {
    border: 1px solid rgb(83, 48, 15);
    border-collapse: collapse;
}

th {
    font-size: 20px;
    margin:0;
    color: rgb(83, 48, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

td {
    color:rgb(83, 48, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    text-align:left;
    line-height:1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0; 
}

ul {
    color:rgb(83, 48, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:18px;
    text-align:left;
    line-height:1;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0; 
    margin-left: 15px;
}

footer {
    background-color:#fff5d7b7;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    color: rgb(83, 48, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
    border-radius: 5px;
}

footer a {
    text-decoration: none;
    color: rgb(181, 93, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
}
 
footer a:visited {
    color:rgb(83, 48, 15);
    background-color: transparent;
    text-decoration: none;
}
 
footer a:hover {
    color:rgb(181, 93, 21);
    background-color: transparent;
    text-decoration: underline;
}
 
footer a:active {
    color:rgb(83, 48, 15);
    background-color: transparent;
    text-decoration: underline;
}
